################################
# Initializes data for Keystone
# Uses v3 Keystone API
################################

from keystoneclient.v3 import client

# Searches a list of resources and returns the one with matching name
# This routine is used because keystone client is only able to fetch resources by their IDs, not names
def find_by_name(name, list):
    for item in list:
        if item.name == name:
            return item # Found match
    return None # Match not found

# We have to bypass authorization for filling initial data, with the help of admin token
keystone = client.Client(endpoint='http://localhost:35357/v3', token="<%= @admin_token %>")

# CREATE APPROPRIATE TENANTS (PROJECTS)
#   We create 3 projects:
#       * admin project (for administrative purposes)
#       * service project (for barbican)
#       * witdom project (for testing)
try:
    admin_project = keystone.projects.create(name="admin", domain="default", description="Admin tenant")
except Exception, e:
    admin_project = find_by_name("admin", keystone.projects.list())

try:
    service_project = keystone.projects.create(name="service", domain="default", description="Service tenant")
except Exception, e:
    service_project = find_by_name("service", keystone.projects.list())

try:
    witdom_project = keystone.projects.create(name="witdom", domain="default", description="General WITDOM tenant")
except Exception, e:
    witdom_project = find_by_name("witdom", keystone.projects.list())

# CREATE ADMIN ROLE
#   Admin role must be created and later assigned to users on specific projects or domains
#       Users with admin role are authorized to access all endpoints within a project or a domain
try:
    admin_role = keystone.roles.create(name="admin", enabled=True)
except Exception, e:
    admin_role = find_by_name("admin", keystone.roles.list())

# CREATE USERS
#   We create 3 users:
#       * admin
#       * barbican (necessary for integration with keystone service)
#       * testuser (for future testing)
try:
    admin = keystone.users.create(name="admin", domain="default", password="<%= @admin_pw %>", default_project=admin_project, enabled=True)
except Exception, e:
    admin = find_by_name("admin", keystone.users.list())

try:
    barbican = keystone.users.create(name="barbican", domain="default", password="<%= @barbican_pw %>", default_project=service_project, enabled=True)
except Exception, e:
    barbican = find_by_name("barbican", keystone.users.list())

try:
    test_user = keystone.users.create(name="testuser", domain="default", password="testuser", default_project=witdom_project, enabled=True)
except Exception, e:
    test_user = find_by_name("testuser", keystone.users.list())

# CREATE SERVICES
#   We create 2 services: barbican and identity services. Without these services, we run into issues with empty service catalog.
try:
    barbican_service = keystone.services.create(name="barbican", type="key-manager", enabled=True, description="Barbican Service")
except Exception, e:
    print "EXCEPTION WHEN CREATING BARBICAN SERVICE:" + str(e)
    barbican_service = find_by_name("barbican", keystone.services.list())

try:
    keystone_service = keystone.services.create(name="keystone", type="identity", enabled=True, description="Keystone Identity Service")
except Exception, e:
    print "EXCEPTION WHEN CREATING BARBICAN SERVICE:" + str(e)
    keystone_service = find_by_name("keystone", keystone.services.list())

# CREATE ENDPOINTS
#   For previously defined services, we assign their endpoints:
#       * public endpoint for barbican service
#       * public and admin endpoints for keystone identity service
try:
    barbican_endpoint = keystone.endpoints.create(barbican_service, "http://<%= @barbican_ip %>:9311", interface="public", region="RegionOne" , enabled=True)
except Exception, e:
    print "EXCEPTION WHEN CREATING BARBICAN ENDPOINT: " + str(e)
    barbican_endpoint = find_by_name("barbican", keystone.endpoints.list())

try:
    keystone_endpoint = keystone.endpoints.create(keystone_service, "http://localhost:5000/v3", interface="public", region="RegionOne" , enabled=True)
    keystone_endpoint_admin = keystone.endpoints.create(keystone_service, "http://localhost:35357/v3", interface="admin", region="RegionOne" , enabled=True)
except Exception, e:
    print "EXCEPTION WHEN CREATING KEYSTONE ENDPOINTS: " + str(e)
        
# GRANT ADMIN ROLES TO APPROPRIATE USERS
keystone.roles.grant(admin_role, user=admin, domain="default")
keystone.roles.grant(admin_role, user=admin, project=admin_project)
keystone.roles.grant(admin_role, user=barbican, project=service_project)

# Print current state
print "PROJECTS: " + str(keystone.projects.list())
print "\nUSERS: " + str(keystone.users.list())
print "\nROLES: " + str(keystone.roles.list())
print "\nROLE GRANTS FOR ADMIN on default domain: " + str(keystone.roles.list(user=admin, domain="default"))
print "\nROLE GRANTS FOR ADMIN on admin project: " + str(keystone.roles.list(user=admin, project=admin_project))
print "\nSERVICES" + str(keystone.services.list())
print "\nENDPOINTS" + str(keystone.endpoints.list())